<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>platform-application</key>
	<true/>
	<key>com.apple.private.security.no-container</key>
	<true/>
	
	<!-- AppleSMC & Power Management -->
	<key>com.apple.private.applesmc.user-access</key>
	<true/>
	<key>com.apple.private.powersource-read</key>
	<true/>
	<key>com.apple.gasgauge.user-access-device</key>
	<true/>
	<key>com.apple.private.gasgauge-update</key>
	<true/>
	
	<!-- IOKit Hardware Access -->
	<key>com.apple.private.iokit.batterydata</key>
	<true/>
	<key>com.apple.private.iokit.powerlogging</key>
	<true/>
	<key>com.apple.system.get-hardware-identifiers</key>
	<true/>
	<key>com.apple.system.diagnostics.iokit-properties</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.tuaniuminh.Wattman</string>
	</array>
</dict>
</plist>
